<!DOCTYPE html>
<html>
  <head>
    <title>StrifeCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': "<%= current_user.username %>",
        };
      </script>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
