<!DOCTYPE html>
<html>
  <head>
    <title>StrifeCloud</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel='icon' href="<%= image_path "favicon.ico" %>" type="image/gif" sizes="16x16">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if current_user %>
      <script>
        let profPicUrl = ""
        <% if current_user.profile_picture.attached? %>
          profPicUrl = "<%= url_for(current_user.profile_picture) %>"
        <% end %>
        window.currentUser = {
          'id': <%= current_user.id %>,
          'username': "<%= current_user.username %>",
          'profilePictureUrl': profPicUrl
        };
      </script>
    <% end %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo.png') %>";
      window.heroURL = "<%= image_url('church_2.png') %>";
      window.placeholderProfilePic = "<%= image_url('minkflop.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
